mixin contacts
    .contacts
        .w-center
            .contacts__title Оставьте заявку, и мы свяжемся </br>с вами для консультации
            +form
            .w-gap-lg
                .contacts__wrap
                    ul.contacts__list
                        li
                            .contacts__subtitle Адрес
                            .contacts__text 1190 Birch Street, Denver, CO80220, USA

                        li
                            .contacts__subtitle Телефон
                            .contacts__text +00 (000) 000 00 00
                        li
                            .contacts__subtitle Email
                            .contacts__text pochta@gmail.com


