mixin faq
    .faq
        .w-center
            .faq__sides
                .faq__left
                    img(src="static/img/content/faq-img.png" alt="logo")
                .faq__right
                    .faq__title.faq__title-nth FAQ
                    .faq__title Распространенные </br>вопросы
                    +accordion