$theme-name: 'theme_cold';

//common
$primary-text: #161616;
$primary-fill: #fff;
$secondary-fill: #F1F2F4;
$link-default: #e44f36;
$primary-title: #161616;
$secondary-title: #fff;
$primary-title-decor: #7d90a9;
$secondary-title-decor: #e44f36;
$comments-fill: #f5f3f9;

//header
$header-bg: linear-gradient(89.99deg, #171744 0.01%, #191746 19.27%, #191746 34.38%, #191746 54.69%, #191746 69.27%, #191746 82.29%, #191746 99.99%), #C4C4C4;;
$header-bd: 1px solid #EDF2F5;
$header-color: #fff;

//footer
$footer-bg: #171744;
$footer-bd: #161616;
