mixin utp
    .utp
        .w-center
            .utp__wrap
                .utp__item
                    .utp__img-wrap.utp__img-first
                        img(src="static/img/content/planet1.png" alt="location")
                    .utp__txt-wrap
                        .utp__txt-title Нам доверяют
                        .utp__txt Нашими клиентами являются многие публичные люди, предприниматели, а также крупные компании из России и других уголков мира.
                .utp__item
                    .utp__img-wrap.utp__img-second
                        img(src="static/img/content/planet2.png" alt="location")
                    .utp__txt-wrap
                        .utp__txt-title Прозрачные условия сотрудничества
                        .utp__txt Мы заключаем договор, в котором прописаны все нюансы сотрудничества. Это позволяет нам быть честными, а Вам - уверенными в прозрачности условий.
                .utp__item
                    .utp__img-wrap.utp__img-third
                        img(src="static/img/content/planet3.png" alt="location")
                    .utp__txt-wrap
                        .utp__txt-title Лояльная стоимость
                        .utp__txt Несмотря на особый подход к организации праздников, мы предоставляем выгодную стоимость на наши услуги. Убедитесь в этом сами!