mixin banner()
    .banner
        .w-center
            .banner__text-wrap
                .banner__text-img
                    img(src="static/img/content/girl.png" alt="logo")
                .banner__text
                    .banner__text-title Организуем для Вас</br> любой праздник!
                    .banner__texting Наше ивент-агентство возьмет на себя все организационные хлопоты,</br> чтобы Вы смогли насладиться торжеством на 100%
                .banner__text-img-second
                    img(src="static/img/content/banner-img.png" alt="logo")
                .banner__decor
                    img(src="static/img/content/1.svg" alt="logo")

