.banner {
    background-image: url("data:image/svg+xml,%3Csvg width='1920' height='1010' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='a' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='1920' height='1010'%3E%3Cpath fill='%23C4C4C4' d='M0 0h1920v1010H0z'/%3E%3C/mask%3E%3Cg mask='url(%23a)'%3E%3Cpath d='M0 0h1920v878.5s-11.5 131.5-191 131.5-336-225.5-542.5-225.5-445 174-730 183.5S0 918 0 918V0Z' fill='url(%23b)'/%3E%3Cpath d='M965.847 194.238a5.77 5.77 0 0 1 1.062-8.218L1143.76 54.043a.497.497 0 0 1 .68.08c.18.213.15.53-.06.705l-170.353 140.27a5.768 5.768 0 0 1-8.18-.86Z' fill='url(%23c)' stroke='url(%23d)' stroke-width='3'/%3E%3Cpath d='M1557.85 303.238a5.769 5.769 0 0 1 1.06-8.218l176.85-131.977a.498.498 0 0 1 .68.081c.18.212.15.528-.06.704l-170.35 140.27c-2.49 2.049-6.18 1.662-8.18-.86Z' fill='url(%23e)' stroke='url(%23f)' stroke-width='3'/%3E%3Cpath d='M1189.67 217.173c-2.55-3.211-1.95-7.9 1.34-10.355l176.85-131.977a2.009 2.009 0 0 1 2.74.322c.71.852.59 2.118-.27 2.823l-170.35 140.27c-3.13 2.582-7.78 2.094-10.31-1.083Z' fill='url(%23g)'/%3E%3Cpath d='M1817.67 692.173c-2.55-3.211-1.95-7.9 1.34-10.355l176.85-131.977a2.01 2.01 0 0 1 2.74.322c.71.852.59 2.118-.27 2.823l-170.35 140.27c-3.13 2.582-7.78 2.094-10.31-1.083Z' fill='url(%23h)'/%3E%3Cpath d='M945.847 686.238a5.77 5.77 0 0 1 1.062-8.218l176.851-131.977a.498.498 0 0 1 .68.081c.18.212.15.528-.06.704l-170.353 140.27a5.768 5.768 0 0 1-8.18-.86Z' fill='url(%23i)' stroke='url(%23j)' stroke-width='3'/%3E%3Cpath d='M1445.85 190.238a5.769 5.769 0 0 1 1.06-8.218l176.85-131.977a.497.497 0 0 1 .68.08c.18.213.15.53-.06.705l-170.35 140.27c-2.49 2.049-6.18 1.662-8.18-.86Z' fill='url(%23k)' stroke='url(%23l)' stroke-width='3'/%3E%3Cpath d='m1455.15 183.797-2.93-.45-1.32-2.819c-.32-.704-1.48-.704-1.8 0l-1.32 2.819-2.93.45c-.81.124-1.13 1.111-.56 1.693l1.63 2.21v3.132c-.13.823.74 1.448 1.47 1.04L1450 191l2.61.872c.72.401 1.6-.206 1.47-1.04l-.51-3.132 2.14-2.21c.57-.582.25-1.57-.56-1.693Z' fill='%23fff'/%3E%3Cpath d='M1414.85 657.238a5.769 5.769 0 0 1 1.06-8.218l176.85-131.977a.498.498 0 0 1 .68.081c.18.212.15.528-.06.704l-170.35 140.27c-2.49 2.049-6.18 1.662-8.18-.86Z' fill='url(%23m)' stroke='url(%23n)' stroke-width='3'/%3E%3Cpath d='m1424.15 650.797-2.93-.45-1.32-2.819c-.32-.704-1.48-.704-1.8 0l-1.32 2.819-2.93.45c-.81.124-1.13 1.111-.56 1.693l1.63 2.21v3.132c-.13.823.74 1.448 1.47 1.04L1419 658l2.61.872c.72.401 1.6-.206 1.47-1.04l-.51-3.132 2.14-2.21c.57-.582.25-1.57-.56-1.693ZM1248.36 679.847l-2.19-.337-.99-2.114c-.25-.528-1.11-.528-1.36 0l-.99 2.114-2.19.337a.756.756 0 0 0-.43 1.27l1.23 1.658v2.349c-.1.617.56 1.086 1.1.78l1.96-.654 1.96.654a.75.75 0 0 0 1.1-.78l-.38-2.349 1.61-1.658a.756.756 0 0 0-.43-1.27Z' fill='%23fff'/%3E%3Cpath opacity='.25' d='m1425.36 507.847-2.19-.337-.99-2.114c-.25-.528-1.11-.528-1.36 0l-.99 2.114-2.19.337a.756.756 0 0 0-.43 1.27l1.23 1.658v2.349c-.1.617.56 1.086 1.1.78l1.96-.654 1.96.654a.75.75 0 0 0 1.1-.78l-.38-2.349 1.61-1.658a.756.756 0 0 0-.43-1.27ZM1501.36 857.847l-2.19-.337-.99-2.114c-.25-.528-1.11-.528-1.36 0l-.99 2.114-2.19.337a.756.756 0 0 0-.43 1.27l1.23 1.658v2.349c-.1.617.56 1.086 1.1.78l1.96-.654 1.96.654a.75.75 0 0 0 1.1-.78l-.38-2.349 1.61-1.658a.756.756 0 0 0-.43-1.27Z' fill='%23fff'/%3E%3Cpath opacity='.75' d='m1279.36 338.847-2.19-.337-.99-2.114c-.25-.528-1.11-.528-1.36 0l-.99 2.114-2.19.337a.756.756 0 0 0-.43 1.27l1.23 1.658v2.349c-.1.617.56 1.086 1.1.78l1.96-.654 1.96.654a.75.75 0 0 0 1.1-.78l-.38-2.349 1.61-1.658a.756.756 0 0 0-.43-1.27ZM1063.36 312.847l-2.19-.337-.99-2.114c-.25-.528-1.11-.528-1.36 0l-.99 2.114-2.19.337a.756.756 0 0 0-.43 1.27l1.23 1.658v2.349c-.1.617.56 1.086 1.1.78l1.96-.654 1.96.654a.75.75 0 0 0 1.1-.78l-.38-2.349 1.61-1.658a.756.756 0 0 0-.43-1.27Z' fill='%23fff'/%3E%3Cpath opacity='.25' d='m1825.36 248.847-2.19-.337-.99-2.114c-.25-.528-1.11-.528-1.36 0l-.99 2.114-2.19.337a.756.756 0 0 0-.43 1.27l1.23 1.658v2.349c-.1.617.56 1.086 1.1.78l1.96-.654 1.96.654a.75.75 0 0 0 1.1-.78l-.38-2.349 1.61-1.658a.756.756 0 0 0-.43-1.27ZM1152.36 531.847l-2.19-.337-.99-2.114c-.25-.528-1.11-.528-1.36 0l-.99 2.114-2.19.337a.756.756 0 0 0-.43 1.27l1.23 1.658v2.349c-.1.617.56 1.086 1.1.78l1.96-.654 1.96.654a.75.75 0 0 0 1.1-.78l-.38-2.349 1.61-1.658a.756.756 0 0 0-.43-1.27Z' fill='%23fff'/%3E%3Cpath d='m1690.36 498.847-2.19-.337-.99-2.114c-.25-.528-1.11-.528-1.36 0l-.99 2.114-2.19.337a.756.756 0 0 0-.43 1.27l1.23 1.658v2.349c-.1.617.56 1.086 1.1.78l1.96-.654 1.96.654a.75.75 0 0 0 1.1-.78l-.38-2.349 1.61-1.658a.756.756 0 0 0-.43-1.27ZM1717.36 911.847l-2.19-.337-.99-2.114c-.25-.528-1.11-.528-1.36 0l-.99 2.114-2.19.337a.756.756 0 0 0-.43 1.27l1.23 1.658v2.349c-.1.617.56 1.086 1.1.78l1.96-.654 1.96.654a.75.75 0 0 0 1.1-.78l-.38-2.349 1.61-1.658a.756.756 0 0 0-.43-1.27ZM1589.36 650.847l-2.19-.337-.99-2.114c-.25-.528-1.11-.528-1.36 0l-.99 2.114-2.19.337a.756.756 0 0 0-.43 1.27l1.23 1.658v2.349c-.1.617.56 1.086 1.1.78l1.96-.654 1.96.654a.75.75 0 0 0 1.1-.78l-.38-2.349 1.61-1.658a.756.756 0 0 0-.43-1.27ZM1848.36 574.847l-2.19-.337-.99-2.114c-.25-.528-1.11-.528-1.36 0l-.99 2.114-2.19.337a.756.756 0 0 0-.43 1.27l1.23 1.658v2.349c-.1.617.56 1.086 1.1.78l1.96-.654 1.96.654a.75.75 0 0 0 1.1-.78l-.38-2.349 1.61-1.658a.756.756 0 0 0-.43-1.27Z' fill='%23fff'/%3E%3Cpath opacity='.75' d='m1699.36 90.847-2.19-.337-.99-2.114c-.25-.528-1.11-.528-1.36 0l-.99 2.114-2.19.337a.755.755 0 0 0-.43 1.27l1.23 1.658v2.349c-.1.617.56 1.086 1.1.78l1.96-.654 1.96.654a.75.75 0 0 0 1.1-.78l-.38-2.35 1.61-1.657a.755.755 0 0 0-.43-1.27ZM1896.36 21.848l-2.19-.338-.99-2.114c-.25-.528-1.11-.528-1.36 0l-.99 2.114-2.19.337a.755.755 0 0 0-.43 1.27l1.23 1.658v2.349c-.1.617.56 1.086 1.1.78l1.96-.654 1.96.654a.75.75 0 0 0 1.1-.78l-.38-2.35 1.61-1.657a.755.755 0 0 0-.43-1.27Z' fill='%23fff'/%3E%3Cpath opacity='.25' d='m1779.36 785.847-2.19-.337-.99-2.114c-.25-.528-1.11-.528-1.36 0l-.99 2.114-2.19.337a.756.756 0 0 0-.43 1.27l1.23 1.658v2.349c-.1.617.56 1.086 1.1.78l1.96-.654 1.96.654a.75.75 0 0 0 1.1-.78l-.38-2.349 1.61-1.658a.756.756 0 0 0-.43-1.27Z' fill='%23fff'/%3E%3Cpath opacity='.75' d='m1342.36 143.847-2.19-.337-.99-2.114c-.25-.528-1.11-.528-1.36 0l-.99 2.114-2.19.337a.756.756 0 0 0-.43 1.27l1.23 1.658v2.349c-.1.617.56 1.086 1.1.78l1.96-.654 1.96.654a.75.75 0 0 0 1.1-.78l-.38-2.349 1.61-1.658a.756.756 0 0 0-.43-1.27ZM1531.36 359.847l-2.19-.337-.99-2.114c-.25-.528-1.11-.528-1.36 0l-.99 2.114-2.19.337a.756.756 0 0 0-.43 1.27l1.23 1.658v2.349c-.1.617.56 1.086 1.1.78l1.96-.654 1.96.654a.75.75 0 0 0 1.1-.78l-.38-2.349 1.61-1.658a.756.756 0 0 0-.43-1.27ZM1152.36 48.847l-2.19-.337-.99-2.114c-.25-.528-1.11-.528-1.36 0l-.99 2.114-2.19.337a.755.755 0 0 0-.43 1.27l1.23 1.658v2.349c-.1.617.56 1.086 1.1.78l1.96-.654 1.96.654a.75.75 0 0 0 1.1-.78l-.38-2.35 1.61-1.657a.755.755 0 0 0-.43-1.27Z' fill='%23fff'/%3E%3Ccircle cx='191.702' cy='648.859' r='.873' fill='%23fff'/%3E%3Ccircle cx='269.394' cy='579.023' r='.873' fill='%23fff'/%3E%3Ccircle cx='210.034' cy='723.933' r='.873' fill='%23fff'/%3E%3Ccircle cx='351.452' cy='680.286' r='.873' fill='%23fff'/%3E%3Ccircle cx='52.029' cy='851.385' r='.873' fill='%23fff'/%3E%3Ccircle cx='229.238' cy='625.29' r='.873' fill='%23fff'/%3E%3Ccircle cx='147.181' cy='724.807' r='.873' fill='%23fff'/%3E%3Ccircle cx='202.177' cy='559.818' r='.873' fill='%23fff'/%3E%3Ccircle cx='239.714' cy='278.727' r='.873' fill='%23fff'/%3E%3Ccircle cx='17.11' cy='43.029' r='.873' fill='%23fff'/%3E%3Ccircle cx='93.931' cy='667.192' r='.873' fill='%23fff'/%3E%3Ccircle cx='43.3' cy='724.807' r='.873' fill='%23fff'/%3E%3Ccircle cx='107.025' cy='742.266' r='.873' fill='%23fff'/%3E%3Ccircle cx='148.054' cy='803.372' r='.873' fill='%23fff'/%3E%3Ccircle cx='225.747' cy='379.989' r='.873' fill='%23fff'/%3E%3Ccircle cx='325.264' cy='276.981' r='.873' fill='%23fff'/%3E%3Ccircle cx='166.386' cy='462.92' r='.873' fill='%23fff'/%3E%3Ccircle cx='41.554' cy='365.149' r='.873' fill='%23fff'/%3E%3Ccircle cx='40.681' cy='235.079' r='.873' fill='%23fff'/%3E%3Ccircle cx='50.283' cy='88.422' r='.873' fill='%23fff'/%3E%3Ccircle cx='64.25' cy='558.072' r='.873' fill='%23fff'/%3E%3Ccircle cx='62.505' cy='428.875' r='.873' fill='%23fff'/%3E%3Ccircle cx='164.64' cy='353.801' r='.873' fill='%23fff'/%3E%3Ccircle cx='89.566' cy='280.473' r='.873' fill='%23fff'/%3E%3Ccircle cx='105.279' cy='215.874' r='.873' fill='%23fff'/%3E%3Ccircle cx='79.091' cy='18.586' r='.873' fill='%23fff'/%3E%3Ccircle cx='222.255' cy='91.915' r='.873' fill='%23fff'/%3E%3Ccircle cx='142.816' cy='244.681' r='.873' fill='%23fff'/%3E%3Ccircle cx='141.943' cy='90.168' r='.873' fill='%23fff'/%3E%3Ccircle cx='125.357' cy='2.873' r='.873' fill='%23fff'/%3E%3Ccircle cx='440.494' cy='641.003' r='.873' fill='%23fff'/%3E%3Ccircle cx='491.998' cy='737.028' r='.873' fill='%23fff'/%3E%3Ccircle cx='537.391' cy='665.446' r='.873' fill='%23fff'/%3E%3Ccircle cx='802.77' cy='652.351' r='.873' fill='%23fff'/%3E%3Ccircle cx='536.518' cy='360.784' r='.873' fill='%23fff'/%3E%3Ccircle cx='508.584' cy='908.127' r='.873' fill='%23fff'/%3E%3Ccircle cx='503.347' cy='420.145' r='.873' fill='%23fff'/%3E%3Ccircle cx='295.583' cy='205.398' r='.873' fill='%23fff'/%3E%3Ccircle cx='269.394' cy='126.833' r='.873' fill='%23fff'/%3E%3Ccircle cx='294.71' cy='41.283' r='.873' fill='%23fff'/%3E%3Ccircle cx='501.6' cy='276.108' r='.873' fill='%23fff'/%3E%3Ccircle cx='210.906' cy='874.082' r='.873' fill='%23fff'/%3E%3Ccircle cx='35.442' cy='805.118' r='.873' fill='%23fff'/%3E%3Ccircle cx='194.32' cy='186.193' r='2.619' fill='%23fff'/%3E%3Ccircle cx='13.619' cy='153.894' r='2.619' fill='%23fff'/%3E%3Ccircle cx='178.607' cy='21.205' r='2.619' fill='%23fff'/%3E%3Ccircle cx='100.915' cy='125.087' r='2.619' fill='%23fff'/%3E%3Ccircle cx='420.416' cy='409.67' r='2.619' fill='%23fff'/%3E%3Cellipse cx='420.416' cy='362.967' rx='2.619' ry='3.055' fill='%23fff'/%3E%3Ccircle cx='288.599' cy='519.662' r='2.619' fill='%23fff'/%3E%3Ccircle cx='321.772' cy='599.974' r='2.619' fill='%23fff'/%3E%3Ccircle cx='509.457' cy='834.799' r='2.619' fill='%23fff'/%3E%3Ccircle cx='733.688' cy='505.576' r='2.5' fill='%23fff'/%3E%3Ccircle cx='352.325' cy='135.562' r='2.619' fill='%23fff'/%3E%3Ccircle cx='124.484' cy='545.851' r='2.619' fill='%23fff'/%3E%3Ccircle cx='218.763' cy='722.188' r='2.619' fill='%23fff'/%3E%3Ccircle cx='88.693' cy='793.77' r='2.619' fill='%23fff'/%3E%3Ccircle cx='260.546' cy='344.952' r='2.5' fill='%23fff'/%3E%3Ccircle cx='506.402' cy='616.997' r='3.928' fill='%23fff'/%3E%3Ccircle cx='413.869' cy='894.596' r='3.928' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='b' x1='960' y1='0' x2='960' y2='985' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23171744'/%3E%3Cstop offset='1' stop-color='%23321F62'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' x1='964.668' y1='196.95' x2='1142.85' y2='53.059' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23089A9C'/%3E%3Cstop offset='.37' stop-color='%23242C73' stop-opacity='.5'/%3E%3Cstop offset='.682' stop-color='%2333115B' stop-opacity='.25'/%3E%3Cstop offset='1' stop-color='%2321134A' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' x1='964.5' y1='196' x2='1113.5' y2='77.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2331105E'/%3E%3Cstop offset='1' stop-color='%2331105E' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' x1='1556.67' y1='305.95' x2='1734.85' y2='162.059' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23089A9C'/%3E%3Cstop offset='.37' stop-color='%23242C73' stop-opacity='.5'/%3E%3Cstop offset='.682' stop-color='%2333115B' stop-opacity='.25'/%3E%3Cstop offset='1' stop-color='%2321134A' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' x1='1556.5' y1='305' x2='1705.5' y2='186.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2331105E'/%3E%3Cstop offset='1' stop-color='%2331105E' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' x1='1189.67' y1='218.95' x2='1367.85' y2='75.059' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FDF27A'/%3E%3Cstop offset='.37' stop-color='%23F96C44' stop-opacity='.5'/%3E%3Cstop offset='.682' stop-color='%23782B42' stop-opacity='.25'/%3E%3Cstop offset='1' stop-color='%23231447' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' x1='1817.67' y1='693.95' x2='1995.85' y2='550.059' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FDF27A'/%3E%3Cstop offset='.37' stop-color='%23F96C44' stop-opacity='.5'/%3E%3Cstop offset='.682' stop-color='%23782B42' stop-opacity='.25'/%3E%3Cstop offset='1' stop-color='%23231447' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' x1='944.668' y1='688.95' x2='1122.85' y2='545.059' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2328C18C'/%3E%3Cstop offset='.37' stop-color='%23308D7C' stop-opacity='.5'/%3E%3Cstop offset='.682' stop-color='%23243969' stop-opacity='.25'/%3E%3Cstop offset='1' stop-color='%231E1A54' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' x1='944.5' y1='686' x2='1106' y2='563.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%232D105A'/%3E%3Cstop offset='.474' stop-color='%232D105A' stop-opacity='.85'/%3E%3Cstop offset='1' stop-color='%232D105A' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' x1='1444.67' y1='192.95' x2='1622.85' y2='49.059' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235A487C'/%3E%3Cstop offset='.37' stop-color='%2338245D' stop-opacity='.5'/%3E%3Cstop offset='.682' stop-color='%2324164E' stop-opacity='.25'/%3E%3Cstop offset='1' stop-color='%231F124A' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' x1='1444.5' y1='192' x2='1593.5' y2='73.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2331105E'/%3E%3Cstop offset='1' stop-color='%2331105E' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='m' x1='1413.67' y1='659.95' x2='1591.85' y2='516.059' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235A487C'/%3E%3Cstop offset='.37' stop-color='%2338245D' stop-opacity='.5'/%3E%3Cstop offset='.682' stop-color='%2324164E' stop-opacity='.25'/%3E%3Cstop offset='1' stop-color='%231F124A' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='n' x1='1413.5' y1='659' x2='1562.5' y2='540.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2331105E'/%3E%3Cstop offset='1' stop-color='%2331105E' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
    position: relative;
    height: 750px;

    &__decor {
        position: absolute;
        top: 1%;
        left: 35%;
        animation: move 15s infinite alternate;
        transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);

    }

    @keyframes move {
        from {
            transform: translate(-50px, -50px) rotate(-180deg);
        }

        to {
            transform: translate(150px, 50px) rotate(-10deg);
        }
    }


    &__text-wrap {
        display: flex;
        flex-direction: column-reverse;
    }

    &__text-title {
        font-size: 26px;
        font-weight: 700;
        padding-top: 40px;
        margin-bottom: 20px;
        line-height: 1.1;

        br {
            display: none;
        }
    }

    &__text {
        br {
            display: none;
        }
    }

    &__text-img {
        display: none;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0 0 41px;
        img {
            max-width: 280px;
            width: 100%;
        }
    }

    &__text-img-second {
        display: flex;
        position: relative;
        justify-content: center;
        max-width: 180px;
        margin: 0 auto;
        animation: ball-move 4s ease-in-out 2s infinite alternate;
        img {
            width: 100%;
        }
    }

    &__text {
        max-width: 320px;
        text-align: left;
    }

    @include respond-from(sm) {
        height: 500px;

        &__text-title {
            font-size: 36px;
        }

        &__text-wrap {
            flex-direction: unset;
            justify-content: space-between;
        }

        &__text {
            padding-top: 50px;
            max-width: 404px;
        }

    }

    @include respond-from(md) {
        height: 700px;

        &__text {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            min-height: 100%;

            br {
                display: block;
            }
        }

        &__text-img {
            display: flex;
            max-width: 220px;
            padding: 150px 0 0 0;
        }

        &__text-img-second {
            padding: 0;
            margin: 0;
            max-width: 290px;

            img {
                max-width: 100%;
            }
        }

        &__text-wrap {
            min-height: 100%;
            display: flex;
            justify-content: space-between;

        }

        &__texting {
            line-height: 1.5;
        }
    }

    @include respond-from(lg) {
        height: 1000px;

        &__text-img {
            max-width: 358px;
            width: 100%;

            img {
                max-width: 358px;
            }
        }

        &__text-img-second {
            max-width: 392px;
        }

        &__text {
            max-width: 550px;
        }



        &__text-title {
            font-size: 48px;
            br {
                display: block;
            }
        }
    }
}
