.accordion {

    &__heading {
        cursor: pointer;
        margin: 0 0 10px 0;
        padding: 10px 20px 10px 30px;
        color: #fff;
        width: 100%;
        box-sizing: border-box;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 2px;
        display: flex;
        align-items: center;
        line-height: 1.2em;

        &:before {
            content: "+";
            font-weight: 300;
            font-size: 36px;
            display: inline-block;
            color: #FF5054;
            margin: 0 8px 0 -25px;
        }
    }

    &__item {
        float: left;
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

}

.close .accordion__content {
    height: 0;
    transition: height 1s ease-out;
    transform: scaleY(0);
    float: left;
    display: block;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1.2em;

}

.open .accordion__content {
    padding: 10px 20px 15px 30px;
    background: linear-gradient(90deg, #53409C 0%, #3D369B 100%);
    color: white;
    width: 100%;
    margin: 0 0 10px;
    display: block;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.4s ease;
    box-sizing: border-box;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;


    &:before {
        content: "";
        position: absolute;
        width: 1px;
        background: #FF5054;
        top: 30px;
        left: 15px;
        bottom: 30px;
    }
}

.open .accordion__heading {
    margin: 0;
    background: linear-gradient(90deg, #53409C 0%, #3D369B 100%);
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    &:before {
        display: none;
    }
}
