mixin accordion
    .accordian
        .accordion__item.open
            .accordion__heading Какие виды мероприятий вы организовываете?
            .accordion__content
                p Мы занимаемся организацией свадеб, корпоративных ивентов, дней рождений, детских праздников, бизнес-событий и массовых мероприятий.
        .accordion__item.close
            .accordion__heading Какие виды мероприятий вы организовываете?
            .accordion__content
                p Мы занимаемся организацией свадеб, корпоративных ивентов, дней рождений, детских праздников, бизнес-событий и массовых мероприятий.
        .accordion__item.close
            .accordion__heading Какие виды мероприятий вы организовываете?
            .accordion__content
                p Мы занимаемся организацией свадеб, корпоративных ивентов, дней рождений, детских праздников, бизнес-событий и массовых мероприятий.
        .accordion__item.close
            .accordion__heading Какие виды мероприятий вы организовываете?
            .accordion__content
                p Мы занимаемся организацией свадеб, корпоративных ивентов, дней рождений, детских праздников, бизнес-событий и массовых мероприятий.