body {
    min-height: 100%;
    background-color: $primary-fill;
    font-weight: $font-weight;
    color: $primary-text;
}

html {
    min-height: 100%;
    font-size: $font-size-xs;

    @include respond-from(lg) {
        font-size: $font-size;

    }
}

.w-center {
    width: 100%;
    max-width: $page-width;
    margin-right: auto;
    margin-left: auto;
    padding: 0 $page-horizontal-gap;

    @include respond-from(sm-md) {
        padding: 0 $page-horizontal-gap-sm;
    }

    @include respond-from(md-xl) {
        padding: 0 $page-horizontal-gap-md;
    }
}

//gap

.w-gap {
    margin-top: 40px;
}

.w-gap-sm {
    margin-top: 20px;

    @include respond-from(md) {
        margin-top: 25px;
    }
}

.w-gap-md {
    margin-top: 25px;

    @include respond-from(md) {
        margin-top: 30px;
    }
}

.w-gap-lg {
    margin-top: 40px;

    @include respond-from(sm) {
        margin-top: 80px;
    }

    @include respond-from(md) {
        margin-top: 150px;
    }
}


h1, h2, h3, h4, h5 {
    margin: 0;
    font-weight: 700;
    line-height: 1.2223;
}

p {
    margin: 0;
    font-size: 14px;
    line-height: 1.7;
    color: #595959;
}

.main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 40px ;
}

//sidebar styles
.sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 20px 40px;
    background: #1E2939;
    color: #fff;
    flex-flow: row wrap;

    &__image-wrap {
        width: 100%;
        max-width: 370px;
        margin: 0 auto 36px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    &__block {
        margin-bottom: 47px;

        &:last-child {
            margin: 0;
        }
    }

    &__block-tech {
        .sidebar__block-list {
            gap: 10px;
            column-count: 2;
        }
    }

    &__block-title {
        margin-bottom: 8px;
        font-size: 18px;
    }

    &__block p {
        font-weight: 700;
        color: #fff;

        a {
            padding-left: 10px;
            font-weight: 400;
            color: #fff;
            text-decoration: none;
            opacity: .5;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__block-list {
        margin: 0;
        padding: 0 20px;

        li {
            font-size: 14px;
            opacity: .5;

            &::marker {
                color: #FB6D3A;
            }
        }
    }

    @include respond-from(xs) {
        align-items: flex-start;

        &__image-wrap {
            max-width: 280px;
            margin: 0 0 36px;
            border-radius: unset;
        }

        &__block {
            width: 50%;
        }
    }

}

//about styles
.about {
    padding: 40px 0;

    &__subtitle {
        margin-bottom: 19px;
        font-size: 14px;
    }

    &__title {
        margin-bottom: 24px;
        font-size: 32px;

    }
}

//project styles
.projects {
    margin-top: 20px;

    &__title {
        margin-bottom: 8px;
        font-size: 22px;
    }

    ol {
        margin: 0 0 51px 0;
        padding: 0 0 0 20px;
        font-size: 14px;

        li {
            margin-bottom: 10px;
        }

        li a {
            color: #595959;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    ol li::marker {
        font-weight: 700;
    }
}

//work styles
.work {

    &__title {
        margin-bottom: 12px;
        font-size: 22px;
    }

    &__company {
        font-size: 14px;

    }

    ul {
        max-width: 530px;
        margin: 8px 0 16px 0;
        padding: 0 0 0 20px;
        font-size: 14px;

        li {
            font-weight: 400;
            color: #595959;
            text-decoration: none;



        }
    }

    p {
        margin-bottom: 10px;
        font-size: 12px;
        color: #A8A8A8;
    }
}

//education
.education {
    margin-top: 43px;

    &__title {
        margin-bottom: 12px;
        font-size: 22px;
    }

    &__subtitle {
        margin-bottom: 12px;
        font-size: 14px;

        &:nth-child(3) {
            margin-bottom: 0;
            font-size: 12px;
        }
    }

    p {
        font-size: 12px;
        color: #A8A8A8;
    }


}

@include respond-from(md) {
    //main styles
    .main {
        flex-direction: row-reverse;
        align-items: stretch;
        height: 100%;
        padding: 40px;
        background: #F5F7FA;
    }

    .main-content {
        padding: 102px 80px 107px;
        background: #fff;
        box-shadow: 6px 6px 20px rgba(0, 0, 0, .1);
    }

    //about styles
    .about {
        padding: 0;

        &__title {
            font-size: 45px;
        }
    }

    //project styles
    .projects {
        margin-top: 40px;

        &__title {
        }
    }

    //work styles
    .work {

        &__company {
            font-size: 16px;
        }

        p {
            margin-bottom: 0;
        }
    }

    //education
    .education {

        &__subtitle {

            &:nth-child(3) {
                font-size: 14px;
            }
        }
    }

    //sidbar styles
    .sidebar {
        align-items: unset;
        max-width: 370px;
        min-height: 100%;
        margin: 0;
        padding: 40px;
        background: #1E2939;
        color: #fff;
        box-sizing: border-box;

        &__image-wrap {
            width: 100%;
            min-width: 370px;
            margin: 0 -40px;
            overflow: hidden;
        }

        &__block {
            width: 100%;
            margin-bottom: 47px;
        }

        &__block-title {
            margin-bottom: 8px;
            font-size: 22px;
        }

        &__block p {
            font-weight: 700;
            color: #fff;

            a {
                padding-left: 10px;
                font-weight: 400;
                color: #fff;
                text-decoration: none;
                opacity: .5;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &__block-list {
            margin: 0;
            padding: 0 20px;

            li {
                font-size: 14px;
                opacity: .5;

                &::marker {
                    color: #FB6D3A;
                }
            }
        }

    }
}

.colored {
    color: #FB6D3A;
}