mixin footer()
    footer.footer
        .w-center
            .footer__wrap
                .header__logo-wrap
                    .header__sub-logo
                        img(src="static/img/content/sub-logo.svg" alt="logo")
                    .header__logo
                        img(src="static/img/content/logo.svg" alt="logo")
                .footer__menu
                    .footer__menu-title Меню
                    .footer__menu-first
                        ul.footer__menu-list
                            li
                                a.footer__menu-link.js-to-item(href="#main") Главная
                            li
                                a.footer__menu-link.js-to-item(href="#about-us") О нас
                            li
                                a.footer__menu-link.js-to-item(href="#vendors") Услуги
                        ul.footer__menu-list
                            li
                                a.footer__menu-link.js-to-item(href="#vacancy") Вакансии
                            li
                                a.footer__menu-link.js-to-item(href="#contacts") Контакты
                .footer__menu
                    .footer__menu-title Политики и соглашения
                    ul.footer__menu-list
                        li
                            a.footer__menu-link.js-to-item(href="/terms.html") Условия пользования
                        li
                            a.footer__menu-link.js-to-item(href="/privacy-policy.html") Политика конфиденциальности
