.footer {
    background: $footer-bg;

    &__wrap {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        flex-flow: row wrap;

        .header__logo-wrap {
            margin-bottom: 30px;
        }
    }

    &__menu-title {
        margin-bottom: 10px;
    }

    &__menu-list {
        @extend %ul-reset;
        margin-bottom: 30px;
    }

    &__menu-first {
        display: flex;
        justify-content: space-between;
        width: 200px;
    }

    &__menu-link {
        text-decoration: none;
        color: #A6AABC;

        &:hover {
            text-decoration: underline;
        }
    }



}