mixin grid()
    .grid
        .grid__wrap
            .w-center
                .grid__title.grid__title-nth Наши услуги
                .grid__title Ознакомьтесь с разнообразием ивентов, </br>которые мы организовываем
                .grid__wrap
                    .grid__list
                        .grid__list-link
                            img(src="static/img/content/1.jpg" alt="")
                        .grid__list-link
                            img(src="static/img/content/2.jpg" alt="")
                        .grid__list-link
                            img(src="static/img/content/3.jpg" alt="")
                        .grid__list-link
                            img(src="static/img/content/4.jpg" alt="")
                        .grid__list-link
                            img(src="static/img/content/5.jpg" alt="" )
                        .grid__list-link
                            img(src="static/img/content/6.jpg" alt="" )
                        .grid__list-link
                            img(src="static/img/content/7.jpg" alt="" )
                        .grid__list-link
                            img(src="static/img/content/8.jpg" alt="" )
                .grid__btn
                    button.btn Подробнее