mixin form()

    .form
        form.form__form-wrap(enctype="multipart/form-data" action="" method="post" id="form" onsubmit="send(event, 'send.php')")
            .form__group-wrap
                .form__group
                    input.form__control(type="text" name="name" id="name" placeholder="Имя" required)
                .form__group
                    input.form__control(type="text" name="phone" id="phone" placeholder="Телефон")
                .form__group
                    input.form__control(type="text" name="email" id="email" placeholder="Email" required)
            .form__group.form__textarea
                textarea.form__control(type="text" name="message" id="message" placeholder="Сообщение")
            .form__group
                button.form__btn.btn(type="submit") Отправить
