.about {
    background-image: url("/static/img/content/about-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 280px 0 170px;
    min-height: 100%;
    margin-top: -300px;
    z-index: -1;

    &__title {
        font-size: 26px;
        font-weight: 700;
        color: #fff;
        margin-top: 30px;
        margin-bottom: 60px;
        position: relative;

        &:after {
            position: absolute;
            bottom: -30px;
            left: 0;
            content: "";
            height: 2px;
            background: #FF5054;
            max-width: 120px;
            width: 100%;

        }
    }

    &__title-nth {
        font-size: 18px!important;
        margin: 0;
        color: #7F8BDD;
        text-align: left;
        line-height: 1.1;

        &:after {
            display: none;
        }
    }

    &__left {
        max-width: 650px;
    }

    &__right {
        max-width: 590px;
        margin: 0 auto;
        img {
            display: inline-block;
            width: 100%;

            @include support(object-fit, cover) {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    &__btn {
        margin-top: 30px;
    }

    &__sides {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        z-index: 99;
    }

    @include respond-from(sm) {
        padding: 350px 0 250px;

        &__title {
            font-size: 36px;
        }
    }

    @include respond-from(md) {
        height: 1200px;
        padding: 350px 0 170px;
        &__wrap {
            padding: 50px 0 150px;
        }

        &__title {
            font-size: 48px;
        }

        &__sides {
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
        }

        &__right {
            margin: 0;
        }

    }

    @include respond-from(lg) {
        height: 1300px;
        display: flex;
        align-items: center;
        padding: 50px 0 170px;

        &__sides {
            padding: 0;
        }

    }

    @include respond-from(xl) {
        margin-top: -550px;
        height: 1590px;
        padding: 250px 0 0;
    }
}