mixin about
    .about
        .w-center
            .about__sides
                .about__left
                    h1.about__title.about__title-nth О нас
                    h1.about__title Дарим яркие эмоции </br>и улыбку
                    p.about-text Миссия нашего ивент-агентства заключается в том, чтобы каждый из гостей получил максимум положительных эмоций от организованного нами торжества. Мы отчаянно боремся против скуки и банальности, создавая креативные праздники и корпоративные ивенты. Мы берем на себя 100% всех работ по организации, исключая любые хлопоты заказчиков. Для этого у нас есть настоящая команда мечты из супер профессионалов.
                    .about__btn
                        button.btn Подробнее
                .about__right
                    img(src="static/img/content/about-img.png" alt="logo")